<!DOCTYPE HTML>
<html>
  <head>
    <title>Twitch Status App</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css"/>
    <script src="app.js"></script>
  </head>

  <body ng-app="TwitchStatus">
    <div class="container-fluid" ng-controller="TwitchCtrl">

      <div id="content">

        <nav class="navbar navbar-inverse navbar-fixed-top">  
          <div class="container-fluid"> 
            <div class="navbar-header"> 
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false"> 
                <span class="sr-only">Toggle navigation
                </span> 
                <span class="icon-bar">
                </span> 
                <span class="icon-bar">
                </span> 
                <span class="icon-bar">
                </span> 
              </button> 
              <a class="navbar-brand" target="_blank" href="#">Twitch Streamers
              </a> 
            </div> 
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6"> 
              <ul class="nav navbar-nav "> 
                <li class="active">
                  <a href="#" ng-click="allFilter()">
                    All
                    <span  class="badge badge-info">{{count.all}}</span>
                  </a>

                </li> 
                  <li><a href="#" ng-click="onlineFilter()">Online
                      <span class="badge badge-success">{{count.online}}</span>
                    </a></li> 
                    <li><a href="#" ng-click="offlineFilter()">
                        Offline
                        <span class="badge badge-error">{{count.offline}}</span>
                      </a></li> 
              </ul> 
            </div> 
          </div> 
        </nav>

        <div id="my-tab-content" class="tab-content">

          <div class="tab-pane active" id="all">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 ">
                  <div class="slogan-section animated fadeInUp clearfix ae-animation-fadeInUp ">
                    <h1 class="text-center title__2">Twitch Streamers</h1>
                  </div>
                </div>
              </div>

              <div class="container " ng-repeat="channel in channels ">
                <div class="row panel panel-custom" >
                  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 bg_blur " style="background-image: url(' {{channel.video_banner}} ');">
                    <a href="{{channel.link}}" target="_blank" class="follow_btn hidden-sm hidden-xs"><i class="fa fa-twitch"></i></a>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <img alt="" src="{{channel.logo}}" class="img-thumbnail picture hidden-sm hidden-xs" />
                    <img alt="" src="{{channel.logo}}" class="img-thumbnail visible-sm visible-xs picture_mob" />
                    <div class="header text-center">
                      <h1 class="title__1">
                        <a href="{{channel.link}}" target="_blank">
                          {{channel.name}}
                        </a>
                      </h1>
                      <h4>
                        <label class="{{channel.statusClass}} label-status">{{channel.statusType}}</label>
                      </h4>
                      <span>{{channel.status}}</span>
                    </div>
                  </div>
                </div>

                <div class="row nav">    
                  <div class="col-md-4"></div>
                  <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
                    <div class="col-md-4 col-xs-4 well"><i class="fa fa-calendar-o fa-lg"></i> {{channel.created_at | date:'dd/MM/yyyy'}}</div>
                    <div class="col-md-4 col-xs-4 well"><i class="fa fa-eye fa-lg" alt="views"></i> {{channel.views | number}}</div>
                    <div class="col-md-4 col-xs-4 well"><i class="fa fa-thumbs-o-up fa-lg"></i> {{channel.followers | number}}</div>
                  </div>
                </div>
              </div>
            </div>

          </div> 
        </div>
      </div> <!-- content -->
    </div> <!-- container-fluid -->

    <footer class="footer-distributed">

			<div class="footer-right">

				<a target="_blank" href="https://www.facebook.com/fre.ibracadabra"><i class="fa fa-facebook"></i></a>
				<a target="_blank" href="https://twitter.com/franciscmuntean"><i class="fa fa-twitter"></i></a>
				<a target="_blank" href="https://www.linkedin.com/profile/preview?locale=it_IT&trk=prof-0-sb-preview-primary-button"><i class="fa fa-linkedin"></i></a>
				<a target="_blank" href="https://github.com/mfrancisc"><i class="fa fa-github"></i></a>

			</div>

			<div class="footer-left">

				<p>Created by Francisc Munteanu - 2016</p>
			</div>

		</footer>
  </body>

</html>


